@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
/* use inter for body, playfair for heading */
/* use framer motion */
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

label,
input {
  @apply block;
}

label {
  @apply font-semibold;
}

input,
select {
  @apply border border-gray-300 rounded-full px-3 py-2 mt-1 w-full;
}

.heading {
  @apply tracking-tighter;
}

.heading-1 {
  @apply text-[clamp(2rem,_-3rem_+_16vw,_6rem)];
}
